<div fxLayout="row" fxLayoutAlign="start center">
  <app-wizard></app-wizard>

  <div fxLayout="column" class="text-content">
    <h1 class="mat-display-1">
      <span [hidden]="!name">
        Hallo {{ name }}!
      </span>
      <span [hidden]="name">
        Ohohoh, ich kenne dich nicht mehr!
      </span>
    </h1>

    <p class="mat-body" [hidden]="!name">
      Juhuu, ich habe dich erkannt <span [hidden]="!confidence">(mit {{ confidence | percent }}iger Sicherheit)</span>!
      Du musst dich noch besser verstellen oder schminken, sonst erkenne ich dich.
    </p>

    <p class="mat-body" [hidden]="name">
      Du hast die Wette gewonnen! Ich erkenne dich tatsächlich nicht wieder.
    </p>

    <app-back-to-start></app-back-to-start>
  </div>

</div>
