<div fxLayout="column" fxLayoutAlign="center center">
  <webcam #webcam [width]="videoWidth" [trigger]="takePicture"></webcam>
  <div [ngSwitch]="status" fxLayout="row" fxLayoutAlign="center center">
    <p class="mat-body status-message">
      <span *ngSwitchCase="'processing'">Einen Moment bitte, ich muss dein Bild untersuchen...</span>
      <span *ngSwitchCase="'noFaces'">Ist dein Gesicht auf dem Bild? Ich finde es nicht. Bitte nochmal
        probieren...</span>
      <span *ngSwitchCase="'tooManyFaces'">Da sind mehrere Gesichter auf dem Bild. Bitte nochmal probieren...</span>
      <span *ngSwitchCase="'detected'">Danke, habe ein schönes Bild von dir.</span>
      <span *ngSwitchDefault>Bitte l&auml;cheln!</span>
    </p>
    <button mat-raised-button class="photo-button" #takePictureButton>
      Foto&nbsp;machen!
    </button>
  </div>
</div>
