<div fxLayout="row" fxLayoutAlign="start center">
  <a routerLink="/settings"><app-wizard></app-wizard></a>

  <div fxLayout="column" class="text-content">
    <h1 class="mat-display-1">
      Willkommen!
    </h1>

    <p class="mat-body">
      Ich bin Zauberer <span class="mat-body-strong">Tuffituff</span> und ich biete dir eine Wette an.
      Verrate mir deinen Namen und zeig mir dein Gesicht. Egal wie du dich verkleidest, ich werde dich
      immer wiedererkennen.
    </p>
    <p class="mat-body">
      Du glaubst mir nicht? Stell mich auf die Probe. Wenn du es schaffst, dass ich dich nicht mehr
      erkenne, bekommst du von mir einen Schatz!
    </p>

    <div fxLayout="row" fxLayoutAlign="space-between" class="actions">
      <a mat-raised-button routerLink="/take-picture">
        Kennenlernen
      </a>

      <a mat-raised-button routerLink="/detect">
        Wiederkennen
      </a>
    </div>
  </div>
</div>
