<div fxFlex fxLayoutAlign="center">
  <div fxLayout="column" class="container">
    <h1 class="mat-display-1">
      Kennenlernen
    </h1>

    <mat-form-field class="mat-body" fxLayout="column">
      <input matInput type="text" [(ngModel)]="name" placeholder="Verrate mir bitte deinen Namen" />
    </mat-form-field>

    <div [hidden]="!name">
      <div fxLayout="row" class="camera">
        <app-face-detector></app-face-detector>
        <div fxLayout="column">
          <img *ngFor="let i of images" [src]="!i ? '/assets/camera.svg' : i.imageUrl" />
        </div>
      </div>
    </div>

    <app-back-to-start></app-back-to-start>
  </div>
</div>
