.camera {
  margin-top: 20px;

  img {
    max-width: 100px;
    border-radius: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
  }
}

.mat-input-element {
  caret-color: white;
}

.container {
  min-width: 350px;
}
