<div fxLayout="column">
  <h1 class="mat-display-1">
    Settings
  </h1>

  <div class="form">
    <mat-form-field fxLayout="column">
      <input matInput type="text" placeholder="Location" [(ngModel)]="settings.location" />
    </mat-form-field>

    <mat-form-field fxLayout="column">
      <input matInput type="password" placeholder="Key" [(ngModel)]="settings.key" />
    </mat-form-field>

    <mat-form-field fxLayout="column">
      <input matInput type="number" placeholder="Video width" [(ngModel)]="settings.videoWidth" />
    </mat-form-field>

    <mat-form-field fxLayout="column">
      <input matInput type="text" placeholder="Facelist ID" [(ngModel)]="settings.faceListId"
        pattern="^([a-z\-_0-9]){1,64}$" #faceListId="ngModel" />
    </mat-form-field>
    <p [hidden]="faceListId.valid" class="mat-body">
      Face list darf nur auf Kleinbuchstaben, Bindestrich und Underscore bestehen
    </p>

    <div fxLayout="column" [hidden]="!settings?.faceListId">
      <p class="mat-body" [hidden]="faceListIsOk">Face list does not exists yet. Don't forget to create it!</p>
      <div fxLayout="row">
        <button mat-raised-button (click)="recreateFaceList()">(Re)create Face List</button>
      </div>
    </div>

    <button mat-raised-button (click)="save()">Speichern</button>
    <span class="mat-body" [hidden]="!status">{{status }}</span>
  </div>

  <app-back-to-start></app-back-to-start>
</div>
